* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-centered {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
}

h1 {
    padding: 2rem 0;
    text-align: center;
}

#carousel {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
}

#carousel #main-picture {
    width: 80%;
    height: 100%;

    position: relative;
}

#carousel #main-picture #control-start,
#carousel #main-picture #control-stop,
#carousel #main-picture #control-change {
    position: absolute;
    top: 5%;

    color: white;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

#carousel #main-picture #control-start {
    left: 2%;
}

#carousel #main-picture #control-stop {
    left: 2%;
}

#carousel #main-picture #control-change {
    left: 7%;
}

#carousel:hover #main-picture #control-start,
#carousel:hover #main-picture #control-stop,
#carousel:hover #main-picture #control-change {
    opacity: 1;
}

#carousel #main-picture #control-start:hover,
#carousel #main-picture #control-stop:hover,
#carousel #main-picture #control-change:hover {
    cursor: pointer;
}

#carousel #main-picture #image {
    height: 100%;
    width: 100%;
    
    object-fit: cover;
}

#carousel #main-picture #description {
    padding: 1.5rem 1.5rem 1.5rem 2.7rem;

    position: absolute;
    bottom: 0;
    right: 0;

    color: white;
    text-align: right;
}

#carousel #main-picture #description #title {
    font-weight: bold;
    font-size: x-large;
}

#carousel #main-picture #description #text {
    font-size: larger;
    opacity: .8;
}

#carousel #thumbnails {
    background-color: darkred;
    width: 20%;
    height: 100%;

    position: relative;
}

#carousel #thumbnails .thumbnail {
    width: 100%;

    position: relative;
}

#carousel #thumbnails .thumbnail::before {
    background-color: black;
    width: 100%;
    height: 100%;
    display: block;
    content: "";

    position: absolute;

    opacity: .6;
}

#carousel #thumbnails .thumbnail.active {
    border: 2px solid white;
}

#carousel #thumbnails .thumbnail.active::before {
    opacity: 0;
}

#carousel #thumbnails .thumbnail img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

#carousel #thumbnails #control-prev,
#carousel #thumbnails #control-next {
    position: absolute;
    left: 50%;

    color: white;
    transform: translateX(-50%);
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

#carousel #thumbnails #control-prev {
    top: 5%;
}

#carousel #thumbnails #control-next {
    bottom: 5%;
}

#carousel:hover #thumbnails #control-prev,
#carousel:hover #thumbnails #control-next {
    opacity: 1;
}

#carousel #thumbnails #control-prev:hover,
#carousel #thumbnails #control-next:hover {
    cursor: pointer;
}